root = true

[*.js,*.jsx,*.ts,*.tsx]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.ts,*.tsx]
max_line_length = 80

[*.go,*.gohtml]
tab_width = 4
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off
